* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;  
}

@media(max-width: 1500px){
  html {
    font-size: 100%;
  }
}

@media(max-width: 1320px){
  html {
    font-size: 90%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background: #000046;  
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
  background: linear-gradient(to right, #1CB5E0, #000046); 
  color: #001F3F;
}

.wrapper {
  width: 1800px;
  max-width: 96%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

footer {
  padding-bottom: 4%;
}