header {
  text-align: center;
  padding-top: 4%;
  color: whitesmoke;

  h1 {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #000;
  }

  h2 {
    font-family: 'Rancho', cursive;  
    font-size: 1.7rem;
    display: inline-block;
    text-shadow: 1px 1px 1px #000;
    margin-right: 1%;
  }
}


