header {
  text-align: center;
  padding-top: 4%;
  color: black;

  h1 {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
  }

  h2 {
    font-family: 'Rancho', cursive;  
    font-size: 1.7rem;
    display: inline-block;
  }
}


